:root{
    --background: #F6E1C3;
    --calc-top: #E9A178;
    --calc-bottom: #f7ecdd;
    --title-color: #ffffff;
    --numbers-1: #A84448;
    --details: #7A3E65;
}

body{
    background-image :linear-gradient(rgba(246,225,195,0.9)0%,rgba(246,225,195,1) ),url(https://wallpapers.com/images/hd/fundamental-mathematical-principles-autpcbrlj4b804q5.webp);
    overflow: hidden; /* Hide scrollbars */
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 99vh;
    width: 99vw;
}

p, h1, h2, h3, a {
    color: var(--numbers-1);
}

#title{
    color: var(--title-color);
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 1px black;
}

#calculator{
    background-color: var(--calc-bottom);
    
    width: 500px;
    height: 760px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    box-shadow: 6px 6px rgb(0,0,0,0.5);
}

#screen{
    height: 200px;
    width: 500px;
    background-color: var(--calc-top);
    margin: 0px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;

}
#screen > h1, #screen > h2{
    color:#A84448;
    font-size: 1.8em;
    text-align: end;
    margin-top:45px;
    margin-right: 40px;
}
#screen > h2{
    font-size: 2.4em;
    margin-top: 35px;
}

button{
    font-family: 'Roboto', sans-serif;
    font-size: 1.9em;
    font-weight: 400;
    height: 100px;
    width: 110px;
    background-color: white;
    border-radius: 30px;
    border-width: 0;
    transition: background-color 0.2s, box-shadow 0.2s;
}
/*Armar luego la grid bien*/
#buttons{
    margin-top: 16px;
    display:grid;
    gap:5px;
    grid-template-columns: auto auto auto auto;
    
}

button:active{
    background-color: rgb(219, 219, 219);
    color:#000000;
    box-shadow: inset 5px 5px rgb(15,15,15,0.5);
}

#modulo, #float{
    background-color: rgb(230,230,230);
}

