:root{
    --background: #F6E1C3;
    --calc-top: #E9A178;
    --calc-equal: #fcd2ba;
    --calc-bottom: #f7ecdd;
    --title-color: #ffffff;
    --numbers-1: #A84448;
    --details: #7A3E65;
}

body{
    background-image :linear-gradient(rgba(246,225,195,0.9)0%,rgba(246,225,195,1) ),url(/math-bg.webp);
    overflow: hidden; /* Hide scrollbars */
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

p, h1, h2, h3, a {
    color: var(--numbers-1);
}

#title{
    color: var(--title-color);
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 1px black;
}

#calculator{
    background-color: var(--calc-bottom);
    width: 500px;
    height: 760px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 6px 6px rgb(0,0,0,0.5);
}

.calc-grid-equal-span{
    grid-row: span 2;
}
#equal{
    height: 200px;
    background-color: var(--calc-equal)
}

#screen{
    height: 200px;
    width: 500px;
    background-color: var(--calc-top);
    margin: 0px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;

}
#screen > h1, #screen > h2{
    color:#A84448;
    font-size: 1.8em;
    text-align: end;
    margin-top:45px;
    margin-right: 40px;
}
#screen > h2{
    font-size: 2.4em;
    margin-top: 35px;
}

button{
    font-family: 'Roboto', sans-serif;
    font-size: 1.9em;
    font-weight: 400;
    height: 90px;
    width: 100px;
    background-color: white;
    border-radius: 30px;
    border-width: 0;
    transition: background-color 0.2s, box-shadow 0.2s;
}
/*Armar luego la grid bien*/
#buttons{
    margin-top: 25px;
    display:grid;
    gap:10px;
    grid-template-columns: repeat(4, 1fr);
    
}

button:active{
    background-color: rgb(219, 219, 219);
    color:#000000;
    box-shadow: inset 5px 5px rgb(15,15,15,0.5);
}

#modulo, #float{
    background-color: rgb(230,230,230);
}

/*Side menu*/

#readme-button, #memory-button, #color-button {
    position: fixed;
    width: 100px;
    height: 100px;
    left: 30px;
    border-radius: 50%;
    background-color: var(--calc-top);
    color: white;
}


#color-button{
    top: 40vh;
}
#memory-button{
    top: 50vh
}
#readme-button{ 
    top: 60vh
}

.memory-card{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position: fixed;
    height: 400px;
    width: 300px;
    background-color: var(--calc-top);
    border-radius: 50px;
    right: 170px;
    transition: opacity 1s;
    
}
.invisible{
    opacity: 0;
}


.memory-card >h1 {
    color: var(--calc-bottom);
    font-size: 1.6em;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 1px black;
}
ul{

    padding: 20px;
    color: var(--calc-bottom);
    margin-top: -10px;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    text-shadow: 2px 2px 1px black;
}

.material-symbols-outlined{
    text-shadow: 2px 2px 1px black;
}

@media(max-width: 1500px){
    .memory-card{
        right: 20px;
        width: 200px;
        height: 230px;
        padding-top: 10px;
        
    }
    .memory-card > h1{
        
        display: none;
    }
} 